<!-- /templates/my-form.html-->

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
  <script>

  </script>
</head>
    <body>
        <form action="/my-form" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="column" style="background-color:#aaa;">
                    <div>
                      <input type="file" name="loadFile" id="fileToUpload" {%if results['file_upload_name'] %}value="{{results['file_upload_name']}}"" {% endif %}>
                      <input type="submit" value="Subir" name="Subir">
                    </div>
                    <div>
                        Seleccione un criterio de finalizacion:<br> 
                        <label><input type="radio" id="max_generation" name="finalization_criteria" value="max_generation" {%if finalization_criteria['max_generation'] == True %}checked= True {% endif %}>Maxima generacion</label><br>
                        <label><input type="radio" id="best_value" name="finalization_criteria" value="best_value" {%if finalization_criteria['best_value'] == True %}checked= True {% endif %}>Mejor valor fitness</label><br>
                        <label><input type="radio" id="fitness_average" name="finalization_criteria" value="fitness_average" {%if finalization_criteria['fitness_average'] == True %}checked= True {% endif %}>Promedio fitness menor o igual 5</label><br><br>
                    </div>
                        <div>
                            Seleccione un modo de seleccion de padres: <br>
                            <label><input type="radio" name="choose_parents" value="tournament" {%if parents_choose['tournament'] == True %}checked= True {% endif %}>Torneo</label><br>
                            <label><input type="radio" name="choose_parents" value="best_value" {%if parents_choose['best_value'] == True %}checked= True {% endif %}>Mejor valor</label><br>
                            <label><input type="radio" name="choose_parents" value="pairs" {%if parents_choose['pairs'] == True %}checked= True {% endif %}>Poblacion par</label><br><br>
                        </div>
                    <input type="submit" name="Modelo" value="Modelo">
                </div>
                <div class="column" style="background-color:#bbb;">
                        <h2>Predecir nota del estudiante:</h2>
                            <label for="fname">Proyecto 1:</label>
                            <input type="text" id="proyecto1" name="proyecto1" {%if results['proyecto1']%} value="{{results['proyecto1']}}" {% endif %}><br><br>
                            <label for="proyecto2">Proyecto 2:</label>
                            <input type="text" id="proyecto2" name="proyecto2" {%if results['proyecto2']%} value="{{results['proyecto2']}}" {% endif %}><br><br>
                            <label for="proyecto3">Proyecto 3:</label>
                            <input type="text" id="proyecto3" name="proyecto3" {%if results['proyecto3']%} value="{{results['proyecto3']}}" {% endif %}><br><br>
                            <label for="proyecto4">Proyecto 4:</label>
                            <input type="text" id="proyecto4" name="proyecto4" {%if results['proyecto4']%} value="{{results['proyecto4']}}" {% endif %}><br><br>
                <div>
                <input type="submit" name="Nota" value="Nota">
                </div>
                </div>
          </form>
          {%if results['model_selected'] %}
          <input type = "hidden" id="hmodel_selected" name="hmodel_selected" value="{{results['model_selected']}}">
          Mejor Modelo: {{results['model_selected']}} <br><br>
          {%endif%}
          {%if results['fitness_value'] %}
          <input type = "hidden" id="hfitnes_value" name="hfitness_value" value={{results['fitness_value']}}>
          Valor Fitness: {{results['fitness_value']}}<br><br>
          {%endif%}
          {%if results['calculated_note'] %}
          <input type = "hidden" id="hcalculated_note" name="hcalculated_note">
          Nota calculada: {{results['calculated_note']}}<br><br>
          {%endif%}
    </body>
</html>