<!-- /templates/my-form.html-->

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
  <script>

  </script>
</head>
    <body>
        <form action="/my-form" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="column" style="background-color:#aaa;">
                    <div>
                      <input type="file" name="loadFile" id="fileToUpload" >
                      <input type="submit" value="Upload File" name="Upload File">
                    </div>
                    <div>
                        Seleccione un criterio de finalizacion:<br> 
                        <label><input type="radio" id="max_generation" name="finalization_criteria" value="max_generation" {%if finalization_criteria['max_generation'] == True %}checked= True {% endif %}>Maxima generacion</label><br>
                        <label><input type="radio" id="best_value" name="finalization_criteria" value="best_value" {%if finalization_criteria['best_value'] == True %}checked= True {% endif %}>Mejor valor fitness</label><br>
                        <label><input type="radio" id="criteria_3" name="finalization_criteria" value="criteria_3" {%if finalization_criteria['criteria_3'] == True %}checked= True {% endif %}>Criterio 3</label><br><br>
                    </div>
                        <div>
                            Seleccione un modo de seleccion de padres: <br>
                            <label><input type="radio" name="choose_parents" value="tournament" {%if parents_choose['tournament'] == True %}checked= True {% endif %}>Torneo</label><br>
                            <label><input type="radio" name="choose_parents" value="best_value" {%if parents_choose['best_value'] == True %}checked= True {% endif %}>Mejor valor</label><br>
                            <label><input type="radio" name="choose_parents" value="random" {%if parents_choose['random'] == True %}checked= True {% endif %}>Seleccion aleatoria</label><br><br>
                        </div>
                    <input type="submit" name="Generar modelo" value="Generar modelo">
                </div>
                <div class="column" style="background-color:#bbb;">
                        <h2>Predecir nota del estudiante:</h2>
                            <label for="fname">Proyecto 1:</label>
                            <input type="text" id="proyecto1" name="proyecto1"><br><br>
                            <label for="proyecto2">Proyecto 2:</label>
                            <input type="text" id="proyecto2" name="proyecto2"><br><br>
                            <label for="proyecto3">Proyecto 3:</label>
                            <input type="text" id="proyecto3" name="proyecto3"><br><br>
                            <label for="proyecto4">Proyecto 4:</label>
                            <input type="text" id="proyecto4" name="proyecto4"><br><br>
                <div>
                <input type="submit" name="Nota" value="Nota">
                </div>
                </div>
          </form>
    </body>
</html>